.page p {
    text-align: justify;
}

.footnotes {
    font-size: smaller;
    font-style: italic;
}

.footnotes > ol {
    list-style: none !important;
    counter-reset: footnote-counter;
    margin: 0;
    padding: 0;
}

.footnotes > ol > li {
    counter-increment: footnote-counter;
}

.footnotes > ol > li:before {
    content: counter(footnote-counter);
    font-size: smaller;
    margin-left: -1.5rem;
    vertical-align: super;
    float: left;
}

.page ol {
    list-style-type: decimal;
}

.page ol ol {
    list-style-type: lower-alpha;
}

.page ol ol ol {
    list-style-type: lower-roman;
}

.page ol ol ol ol {
    list-style-type: decimaln;
}

.page-links {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    padding: 0.5em;
    margin-bottom: 1em;
}

.page-links-prev {
    text-align: left;
    width: 42%;
    display: block;
    float: left;
}

.page-links-up {
    float: left;
    display: block;
}

.page-links-next {
    text-align: right;
    width: 42%;
    display: block;
    float: right;
}

.clear-block {
    display: block;
}

.clear-block:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.sidebar-about h1 {
    font-size: 2rem;
}

.sidebar a {
    border-bottom: 2px solid rgba(255,255,255,.2)
}

.sidebar a:last-child {
    border-bottom: none;
}

html {
    font-family: "PT Serif", serif;
}

.lead {
    font-size: 0.9rem;
}

.table-responsive {
    overflow-x: auto;
    display: block;
}