<!DOCTYPE html>
<html lang="cs">

  {% include head.html %}

  <body class="theme-base-09">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-1311054-5', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
    
  </body>
</html>
